In [1]:
import pandas as pd
from complex_datetime import clear_month, clear_year, brute_parse_date
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
data_file = "ObjetosTeca.xlsx"

In [3]:
df_vendas = pd.read_excel(data_file, sheet_name="Base")
df_produtos = pd.read_excel(data_file, sheet_name="SKUS")

# Explorando os dataframes

quero saber o que tem nos dados

In [4]:
df_produtos.head()

    SKU       Nome
0  1001     AGULHA
1  1002      APITO
2  1003  BICICLETA
3  1004      BOLSA
4  1005       BOTA

In [5]:
df_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU     30 non-null     int64
 1   Nome    30 non-null     object
dtypes: int64(1), object(1)
memory usage: 612.0+ bytes

In [6]:
df_produtos.isna().mean()

SKU     0.0
Nome    0.0
dtype: float64

In [7]:
df_produtos.isna().mean()

SKU     0.0
Nome    0.0
dtype: float64

In [8]:
df_produtos.SKU.duplicated().mean()

0.0

In [9]:
df_vendas.head()

,Data,Mês,Ano,Objeto,Investido,Cliques,Receita,Conversões,ROAS,Ticket médio
0,12/31/2022,Dezembro,22,dota,8251.18,808,30339.86,754,3.677033,40.238541
1,12/31/2022,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000
2,12/31/2022,Dezembro,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000
3,31-12-2022,12,2022,xadrez,2300.61,4539,12331.83,79,5.360244,156.099114
4,31-12-2022,12,2022,bolsa,325.48,53,0.00,0,0.000000,0.000000

In [10]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6657 entries, 0 to 6656
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          6657 non-null   object
 1   Mês           6657 non-null   object
 2   Ano           6657 non-null   object
 3   Objeto        6657 non-null   object
 4   Investido     6657 non-null   float64
 5   Cliques       6657 non-null   int64
 6   Receita       6657 non-null   float64
 7   Conversões    6657 non-null   int64
 8   ROAS          6657 non-null   float64
 9   Ticket médio  6657 non-null   float64
dtypes: float64(4), int64(2), object(4)
memory usage: 520.2+ KB

In [11]:
df_vendas.columns = ["data_venda", "mes", "ano", "objeto", "investido", "cliques", "receita", "conversao", "roas", "ticket_medio"]
df_produtos.columns = ["sku", "objeto"]

In [12]:
df_vendas.isna().mean()

data_venda      0.0
mes             0.0
ano             0.0
objeto          0.0
investido       0.0
cliques         0.0
receita         0.0
conversao       0.0
roas            0.0
ticket_medio    0.0
dtype: float64

In [13]:
df_vendas.isnull().mean()

data_venda      0.0
mes             0.0
ano             0.0
objeto          0.0
investido       0.0
cliques         0.0
receita         0.0
conversao       0.0
roas            0.0
ticket_medio    0.0
dtype: float64

In [14]:
df_vendas.objeto = df_vendas.objeto.str.upper()

In [15]:
df_vendas = df_vendas.join(df_produtos.set_index('objeto'),on="objeto", how="left")
df_vendas.sku = df_vendas.sku.astype("Int64")

In [16]:
df_vendas.isna().mean()

data_venda      0.000000
mes             0.000000
ano             0.000000
objeto          0.000000
investido       0.000000
cliques         0.000000
receita         0.000000
conversao       0.000000
roas            0.000000
ticket_medio    0.000000
sku             0.287216
dtype: float64

## 28% de valores sem vinculo de SKU

o df de SKUS(df_produtos) esta ok para a analise.
Já o df de Vendas(df_vendas) precisa de ajustes.

In [17]:
df_vendas.shape

(6657, 11)

In [18]:
df_vendas.dropna(inplace=True)

In [19]:
df_vendas.shape

(4745, 11)

In [20]:
df_vendas.head()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,12/31/2022,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,12/31/2022,Dezembro,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
3,31-12-2022,12,2022,XADREZ,2300.61,4539,12331.83,79,5.360244,156.099114,1029
4,31-12-2022,12,2022,BOLSA,325.48,53,0.00,0,0.000000,0.000000,1004
6,31-12-2022,Dezembro,2022,CACHIMBO,452.57,189,2047.41,7,4.523963,292.487143,1006

In [21]:
df_vendas.shape

(4745, 11)

In [22]:
df_vendas.mes.unique()

array([12, 'Dezembro', 11, 'Novembro', 13, 10, 'Outubro', 'Setembro', 9,
       'Agosto', 8, 7, 'Julho', 'Junho', 6, 'Maio', 5, 'Abril', 4, 3,
       'Março', 'Fevereiro', 2, 'Jan', 'Janeiro', 1], dtype=object)

In [23]:
# Verificando meses invalidos

df_vendas.loc[df_vendas.mes.isin([0, 13])]

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
986,11/11/2022,13,2022,DADO,6547.35,2630,29010.83,16,4.430927,1813.176875,1013

In [24]:
df_vendas.ano.unique()

array([2022, '22', 9999, 'YY'], dtype=object)

In [25]:
# Verificando o ano 9999

df_vendas.loc[df_vendas.ano.isin([9999, 2025, 1900, "YY"])]

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1474,16-10-2022,10,9999,COPO,691.99,525,1247.06,13,1.802136,95.927692,1012
5692,26-02-2022,2,YY,XÍCARA,104.39,194,325.75,7,3.120510,46.535714,1030

## Datas com problemas !!

- data_venda:
  - tem datas de vários formatos, e datas inválidas
- mes:
  - tem meses inválidos
- ano:
  - tem anos inválidos

Preciso resolver cada uma dessas colunas para ter uma data de análise fiel.
Vou separar, formatar, juntar para somente assim tratar as datas.

In [26]:

df_vendas.mes = df_vendas.mes.apply(clear_month)
df_vendas.ano = df_vendas.ano.apply(clear_year)

In [27]:
df_vendas.head()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,12/31/2022,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,12/31/2022,12,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
3,31-12-2022,12,2022,XADREZ,2300.61,4539,12331.83,79,5.360244,156.099114,1029
4,31-12-2022,12,2022,BOLSA,325.48,53,0.00,0,0.000000,0.000000,1004
6,31-12-2022,12,2022,CACHIMBO,452.57,189,2047.41,7,4.523963,292.487143,1006

In [28]:
df_vendas.data_venda = df_vendas.data_venda.astype(str)

In [29]:
dfv1 = df_vendas.loc[df_vendas.data_venda.str.find('/') > -1]

In [30]:

dfv2 = df_vendas.loc[df_vendas.data_venda.str.find('-') > -1]

In [31]:
dfv3 = df_vendas.loc[~df_vendas.index.isin(dfv1.index) & ~df_vendas.index.isin(dfv2.index)]

In [32]:
dfv1.head()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,12/31/2022,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,12/31/2022,12,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
8,12/31/2022,12,2022,LIVRO,2022.46,3646,5069.58,16,2.506640,316.848750,1017
11,31/12/2022,12,2022,DISCO,1028.95,16922,5325.08,40,5.175256,133.127000,1014
14,12/31/2022,12,2022,AGULHA,283.24,1617,1760.37,31,6.215118,56.786129,1001

In [33]:
dfv2.head()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
3,31-12-2022,12,2022,XADREZ,2300.61,4539,12331.83,79,5.360244,156.099114,1029
4,31-12-2022,12,2022,BOLSA,325.48,53,0.00,0,0.000000,0.000000,1004
6,31-12-2022,12,2022,CACHIMBO,452.57,189,2047.41,7,4.523963,292.487143,1006
7,31-12-2022,12,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
9,31-12-2022,12,2022,LANTERNA,10311.37,8580,2972.11,1276,0.288236,2.329240,1016

In [34]:
dfv3.head()

Empty DataFrame
Columns: [data_venda, mes, ano, objeto, investido, cliques, receita, conversao, roas, ticket_medio, sku]
Index: []

In [35]:
dfv2.data_venda = dfv2.data_venda.str.replace('-', '/')

/tmp/ipykernel_492257/310789085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfv2.data_venda = dfv2.data_venda.str.replace('-', '/')

In [36]:
dfv2

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
3,31/12/2022,12,2022,XADREZ,2300.61,4539,12331.83,79,5.360244,156.099114,1029
4,31/12/2022,12,2022,BOLSA,325.48,53,0.00,0,0.000000,0.000000,1004
6,31/12/2022,12,2022,CACHIMBO,452.57,189,2047.41,7,4.523963,292.487143,1006
7,31/12/2022,12,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
9,31/12/2022,12,2022,LANTERNA,10311.37,8580,2972.11,1276,0.288236,2.329240,1016
...,...,...,...,...,...,...,...,...,...,...,...
6648,01/01/2022,1,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
6652,01/01/2022,1,2022,MOEDA,446.66,0,3126.61,7,6.999978,446.658571,1020
6653,01/01/2022,1,2022,DISCO,23.00,116,5453.03,37,237.088261,147.379189,1014
6654,01/01/2022,1,2022,DADO,7534.58,3313,29114.52,458,3.864120,63.568821,1013
6655,01/01/2022,1,2022,CANETA,0.00,0,0.00,0,0.000000,0.000000,1008

In [37]:
dfv3.data_venda = dfv3[["data_venda", "mes", "ano"]].apply(lambda x: f"01/{x[1]}/{x[2]}", axis=1)

/tmp/ipykernel_492257/3534054009.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dfv3.data_venda = dfv3[["data_venda", "mes", "ano"]].apply(lambda x: f"01/{x[1]}/{x[2]}", axis=1)

In [38]:
dfv3

Empty DataFrame
Columns: [data_venda, mes, ano, objeto, investido, cliques, receita, conversao, roas, ticket_medio, sku]
Index: []

In [39]:
dfv4 = pd.concat([dfv1, dfv2, dfv3], axis=0)

In [40]:

dfv4.data_venda = dfv4.data_venda.apply(brute_parse_date)

In [41]:
dfv4.groupby(dfv4.data_venda.dt.year).count()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
data_venda,,,,,,,,,,,
2022,4744,4744,4744,4744,4744,4744,4744,4744,4744,4744,4744
2031,1,1,1,1,1,1,1,1,1,1,1

In [42]:
dfv4

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,2022-12-01,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,2022-12-01,12,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
8,2022-12-01,12,2022,LIVRO,2022.46,3646,5069.58,16,2.506640,316.848750,1017
11,2022-12-31,12,2022,DISCO,1028.95,16922,5325.08,40,5.175256,133.127000,1014
14,2022-12-01,12,2022,AGULHA,283.24,1617,1760.37,31,6.215118,56.786129,1001
...,...,...,...,...,...,...,...,...,...,...,...
6648,2022-01-01,1,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
6652,2022-01-01,1,2022,MOEDA,446.66,0,3126.61,7,6.999978,446.658571,1020
6653,2022-01-01,1,2022,DISCO,23.00,116,5453.03,37,237.088261,147.379189,1014
6654,2022-01-01,1,2022,DADO,7534.58,3313,29114.52,458,3.864120,63.568821,1013
6655,2022-01-01,1,2022,CANETA,0.00,0,0.00,0,0.000000,0.000000,1008

In [43]:
dfv4.loc[dfv4.data_venda.dt.year == 2000]

Empty DataFrame
Columns: [data_venda, mes, ano, objeto, investido, cliques, receita, conversao, roas, ticket_medio, sku]
Index: []

In [44]:
dfv4.loc[dfv4.data_venda.dt.year == 2000, "data_venda"] = pd.to_datetime("2022-10-01")

In [45]:
dfv4.loc[dfv4.data_venda.dt.year == 2031]

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
4639,2031-12-01,4,2022,TÊNIS,22833.33,5242,0.0,0,0.0,0.0,1028

In [46]:
dfv4.loc[dfv4.data_venda.dt.year == 2031, "data_venda"] = pd.to_datetime("2022-04-01")

In [47]:
dfv4.groupby(dfv4.data_venda.dt.year).count()

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
data_venda,,,,,,,,,,,
2022,4745,4745,4745,4745,4745,4745,4745,4745,4745,4745,4745

In [48]:
dfv4

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,2022-12-01,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,2022-12-01,12,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
8,2022-12-01,12,2022,LIVRO,2022.46,3646,5069.58,16,2.506640,316.848750,1017
11,2022-12-31,12,2022,DISCO,1028.95,16922,5325.08,40,5.175256,133.127000,1014
14,2022-12-01,12,2022,AGULHA,283.24,1617,1760.37,31,6.215118,56.786129,1001
...,...,...,...,...,...,...,...,...,...,...,...
6648,2022-01-01,1,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
6652,2022-01-01,1,2022,MOEDA,446.66,0,3126.61,7,6.999978,446.658571,1020
6653,2022-01-01,1,2022,DISCO,23.00,116,5453.03,37,237.088261,147.379189,1014
6654,2022-01-01,1,2022,DADO,7534.58,3313,29114.52,458,3.864120,63.568821,1013
6655,2022-01-01,1,2022,CANETA,0.00,0,0.00,0,0.000000,0.000000,1008

# Dataframe Limpo

Com o estado atual dos dados posso então realziar a analise.

Questões:
1. Quais os 5 melhores produtos em termos de faturamento (Receita) - por mês;
2. Quais os top 5 produtos que menos trazem cliques para o site, por mês?
3. Quais 5 produtos tem o melhor valor médio (Receita) por transação - no ano;
4. Existe algum outro insight, positivo ou negativo, que vale ser destacado?

In [49]:
# Q1: Quais os 5 melhores produtos em termos de faturamento (Receita) - por mês;

dfq1 = dfv4.groupby([dfv4.data_venda.dt.year, dfv4.data_venda.dt.month, dfv4.objeto ]).receita.sum()
dfq1.groupby(level=[0,1], group_keys=False).nlargest(5)

data_venda  data_venda  objeto
2022        1           CELULAR     22618391.67
                        DISCO        7933086.75
                        XADREZ       4765995.22
                        BOTA         3985218.32
                        DADO         2461920.37
            2           CELULAR      2446880.84
                        DISCO        2072043.61
                        XADREZ        689151.36
                        DADO          453290.12
                        LANTERNA      410740.12
            3           CELULAR      2178334.00
                        DISCO        1553005.19
                        XADREZ        995815.66
                        DADO          454631.46
                        LANTERNA      441417.40
            4           CELULAR      2842073.10
                        DISCO        1159961.20
                        XADREZ        912481.70
                        DADO          560910.92
                        BOTA          489441.16
            5           CELULAR      2788723.40
                        DISCO        1326968.70
                        XADREZ        818529.49
                        BOTA          678558.93
                        MOCHILA       442018.05
            6           CELULAR      3870205.30
                        DISCO        1526536.63
                        XADREZ        909253.40
                        MOCHILA       517413.24
                        DADO          494354.85
            7           CELULAR      5174363.20
                        DISCO        1633145.20
                        BOTA         1202437.63
                        XADREZ        975118.94
                        AGULHA        901037.74
            8           CELULAR      5702284.80
                        DISCO        1562737.05
                        XADREZ       1180695.56
                        DADO          521424.70
                        BOTA          513917.02
            9           CELULAR      3152946.00
                        DISCO        1799034.04
                        XADREZ       1062514.11
                        BOTA          680806.95
                        MOCHILA       418542.92
            10          CELULAR      3227134.80
                        DISCO        2282723.35
                        XADREZ        850161.43
                        BOTA          528004.27
                        LANTERNA      279778.62
            11          CELULAR     11266816.70
                        DISCO        3208325.70
                        XADREZ       2031048.40
                        BOTA         1061364.18
                        MOCHILA       599807.37
            12          CELULAR      4321265.60
                        DISCO        1644924.26
                        BOTA          803448.79
                        XADREZ        541300.35
                        MOCHILA       465451.65
Name: receita, dtype: float64

In [50]:
# 2. Quais os top 5 produtos que menos trazem cliques para o site, por mês?

dfq2_a = dfv4.loc[dfv4.cliques > 0].groupby([dfv4.data_venda.dt.year, dfv4.data_venda.dt.month, dfv4.objeto ]).cliques.sum()
dfq2_a.groupby(level=[0,1], group_keys=False).nsmallest(5)

data_venda  data_venda  objeto
2022        1           CANETA         994
                        BOLSA         1615
                        MOUSE         2556
                        TELEVISÃO     3573
                        APITO        11378
            2           BICICLETA        4
                        CANETA          35
                        TELEVISÃO       70
                        ÓCULOS         553
                        MOUSE         1333
            3           TECLADO         78
                        TELEVISÃO      236
                        MOUSE          921
                        CACHIMBO      2714
                        APITO         2834
            4           TELEVISÃO      103
                        BICICLETA      301
                        MOUSE          418
                        CACHIMBO       984
                        APITO         1707
            5           MOUSE          206
                        TELEVISÃO      527
                        CANETA        1202
                        ÓCULOS        1602
                        APITO         2163
            6           TECLADO         82
                        MOUSE          199
                        BICICLETA      232
                        TELEVISÃO      395
                        ÓCULOS        1030
            7           MOUSE           46
                        TELEVISÃO      579
                        XÍCARA        2358
                        APITO         2696
                        BICICLETA     4957
            8           MOUSE           74
                        CANETA         220
                        TELEVISÃO     1511
                        XÍCARA        1638
                        APITO         1929
            9           MOUSE          197
                        AGULHA        1298
                        TELEVISÃO     1349
                        ÓCULOS        1696
                        APITO         2322
            10          CANETA         103
                        BOLSA          110
                        MOUSE          130
                        TELEVISÃO     1567
                        XÍCARA        2011
            11          CANETA         150
                        TELEVISÃO      813
                        BOLSA         1336
                        XÍCARA        1583
                        APITO         3431
            12          MOUSE           71
                        TECLADO         71
                        BOLSA          672
                        TELEVISÃO     1108
                        XÍCARA        1845
Name: cliques, dtype: int64

In [51]:
# Ainda respondendo à Q2: Estes itens não trouxeram nenhum clique para o site.

dfq2_b = dfv4.loc[dfv4.cliques == 0].groupby([dfv4.data_venda.dt.year, dfv4.data_venda.dt.month, dfv4.objeto ]).cliques.sum()
dfq2_b

data_venda  data_venda  objeto
2022        1           CACHIMBO          0
                        CANETA            0
                        CARRO             0
                        FONE DE OUVIDO    0
                        MOEDA             0
                                         ..
            12          CARRO             0
                        FONE DE OUVIDO    0
                        MOEDA             0
                        RÁDIO             0
                        ÓCULOS            0
Name: cliques, Length: 79, dtype: int64

In [52]:
dfv4

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
1,2022-12-01,12,2022,APITO,48.97,84,400.95,1,8.187666,400.950000,1002
2,2022-12-01,12,2022,TELEVISÃO,74.97,23,0.00,0,0.000000,0.000000,1027
8,2022-12-01,12,2022,LIVRO,2022.46,3646,5069.58,16,2.506640,316.848750,1017
11,2022-12-31,12,2022,DISCO,1028.95,16922,5325.08,40,5.175256,133.127000,1014
14,2022-12-01,12,2022,AGULHA,283.24,1617,1760.37,31,6.215118,56.786129,1001
...,...,...,...,...,...,...,...,...,...,...,...
6648,2022-01-01,1,2022,CARRO,0.00,0,0.00,0,0.000000,0.000000,1009
6652,2022-01-01,1,2022,MOEDA,446.66,0,3126.61,7,6.999978,446.658571,1020
6653,2022-01-01,1,2022,DISCO,23.00,116,5453.03,37,237.088261,147.379189,1014
6654,2022-01-01,1,2022,DADO,7534.58,3313,29114.52,458,3.864120,63.568821,1013
6655,2022-01-01,1,2022,CANETA,0.00,0,0.00,0,0.000000,0.000000,1008

In [53]:
# Q3. Quais 5 produtos tem o melhor valor médio (Receita) por transação - no ano;

# apenas checar para ver se o valor do ticket_medio foi calculado corretamente
dfv4.loc[dfv4.conversao > 0].loc[(round(dfv4.ticket_medio, 2)/ round(dfv4.receita / dfv4.conversao, 2)) - 1 > 0.00001]

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
4458,2022-05-07,5,2022,MOEDA,463.99,0,3247.95,10,7.000043,324.795,1020

In [54]:
dfv4.loc[dfv4.conversao > 0].loc[( round(dfv4.receita / dfv4.conversao, 2) / round(dfv4.ticket_medio, 2)) - 1 > 0.00001]

,data_venda,mes,ano,objeto,investido,cliques,receita,conversao,roas,ticket_medio,sku
3080,2022-01-01,7,2022,MOEDA,446.93,0,2817.05,10,6.303112,281.705,1020

In [55]:

dfq3 = pd.DataFrame(dfv4.groupby([dfv4.data_venda.dt.year, dfv4.objeto ])[["receita", "conversao"]].sum())

dfq3 = dfq3.loc[dfq3.conversao > 0]

In [56]:
dfq3["ticket_medio_anual"] = dfq3.receita / dfq3.conversao

In [57]:
# Resposta Q3

dfq3.nlargest(5, "ticket_medio_anual")

                        receita  conversao  ticket_medio_anual
data_venda objeto
2022       APITO      168371.05        449          374.991203
           CANETA      18375.76         60          306.262667
           LIVRO     1709006.92       5925          288.439986
           MOEDA     1162106.76       4850          239.609641
           CACHIMBO  1127055.44       5034          223.888645

In [58]:
# Q4. Existe algum outro insight, positivo ou negativo, que vale ser destacado?

# Os 5 produtos que tiveram o maior roas no ano

In [59]:
# Resposta Q4

dfq4 = pd.DataFrame(dfv4.groupby([dfv4.data_venda.dt.year, dfv4.objeto ])[["investido", "receita"]].sum())
dfq4["roas_anual"] = dfq4.receita / dfq4.investido
dfq4.nlargest(5, "roas_anual")

                       investido      receita  roas_anual
data_venda objeto
2022       CACHIMBO    148711.45   1127055.44    7.578807
           CANETA        2675.03     18375.76    6.869366
           MOEDA       199492.37   1162106.76    5.825319
           MOCHILA    1395063.42   6448593.28    4.622437
           CELULAR   17918122.96  69589419.41    3.883745

In [63]:
dfq4_b = dfv4.groupby([dfv4.data_venda.dt.year, dfv4.data_venda.dt.month])[["receita", "cliques", "conversao"]].sum()

In [67]:
dfq4_b

                           receita   cliques  conversao
data_venda data_venda
2022       1           48286462.74  30112932    1317790
           2            6927514.14   7042701     263286
           3            6486545.34   4876262     274722
           4            6947367.01   4236812     237950
           5            7272418.10   4555148     333950
           6            8453718.75   5811836     218177
           7           11675499.11  12678119     262925
           8           10671569.99   4688341     160257
           9            8066113.25   5295572     218577
           10           8009854.61   5626791     171332
           11          19677420.13   9996193     217443
           12           8794747.26   6790139     208573